printWidth: 100
singleQuote: true
tabWidth: 2
useTabs: false
endOfLine: 'lf'
semi: true
trailingComma: 'all'
bracketSpacing: true
bracketSameLine: false
htmlWhitespaceSensitivity: 'css'
embeddedLanguageFormatting: auto
singleAttributePerLine: false
plugins:
  - prettier-plugin-tailwindcss
  - prettier-plugin-packagejson
  - prettier-plugin-organize-imports
  - prettier-plugin-astro
  - prettier-plugin-tailwindcss

# js and ts rules:
arrowParens: avoid
